a {
    text-decoration: none;
    color: #8b7969;
    font-family: inika;
}

.header {
    margin: 0 auto;
    max-width: 1512px;
    height: 100px;
    padding: 30px 0px;
    background-color: #fff;
}

.header__logo {
    font-size: 40px;
    text-align: center;
}

p {
    border: solid 1px #e0dfde;
}

.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1512px;
}

.contact-form__heading {
    margin-bottom: 50px;
    font-size: 35px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 65%;
    test-align: center;
    justify-content: space-between;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__label--required {
    color: #ff0000;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__group-content {
    max-width: 618.82px;
}

.form__input--name input {
    padding: 18px;
    height: 20px;
    width: 287.15px;
}

.form__input--tel input {
    padding: 18px;
    height: 20px;
    width: 178.12px;
}

.form__input--gender input {
    display: inline-block;
    margin: 0px 0px 0px 20px;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 18px;
}

.form__input--text input {
    height: 20px;
    width: 618.82px;
}

.form__input--select select {
    padding: 18px;
    height: 20px;
    width: 331.68px;
}

.form__input--textarea textarea {
    height: 111px;
    width: 618.82px;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    width: 160px;
    padding: 10px 40px;
    color: #fff;
    background-color: #82756A;
    border: solid 2px #82756A;
    margin: 10px auto;
}
