.thanks__content {
    position: relative;
    background: url("../img/Thank\ you.png")no-repeat center/contain;
    top: 319px;
    left: 66px;
    height: 365px;
    width: 1381px;
    display: block;
}

.thanks__heading {
    position: absolute;
    top: 142px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #8b7969;
    display: block;
}

a {
    text-decoration: none;
    color: #fff;
}

.form__button {
    position: absolute;
    top: 236px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    padding: 10px 40px;
    text-align: center;
    background-color: #82756A;
    border: solid 2px #82756A;
    margin: 10px auto;
    display: block;
}